body{
    background-color : #e3e3e3;
margin: 0;}

    .bod{height: 600px;}
    .welcome{margin-left: 20px;
    margin-top: 20px;}
    .top{ margin-left: 320px;
            color: #fff;
            margin-top: 20px;}
        .top1{ font-family:'Times New Roman', Times, serif;
            text-decoration: none;
        height: 50px;
        background-color: #000;
        color: #fff;
        text-align: center;
        font-weight: bold;
    font-size: 25px;
display: flex;}
.come{margin-left: 400px;
    margin-top: 20px;}
    h2 input {
        width: 100px;
        padding: 10px;
        outline: none;
        border: none;
        color: #000;
        font-size: 1em;
        background: transparent;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transition: 0.1s;
        border-radius: 10px;
        height: 10px;
    }
    button {
        height: 45px;
        width: 200px;
        border-radius: 5px;
        border: 2px solid #000;
        cursor: pointer;
        background-color: transparent;
        transition: 0.5s;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        color: #000;
    }
    button a{text-decoration: none;
        color:#000
    }
    button:hover {
        background-color: #000;
        color: white;
    }
    button a:hover{
    color: #fff;}
    @media (max-width: 600px) {
        .top1 {
          padding: 5px;
          font-size: 20px;
        }
  
        .welcome {
          margin-left: 10px;
          margin-top: 10px;
        }
  
        .top {
          margin-left: 10px;
          font-size: 16px;
        }
  
        .come {
          margin-left: 10px;
          font-size: 14px;
        }
  
        .bod {
          margin: 10px auto;
        }
  
        h2 input {
          width: 80px;
          padding: 5px;
          font-size: 0.8em;
        }
  
        button {
          height: 40px;
          width: 150px;
          font-size: 8px;
        }
      }