body{
    background-color : #c28282;
    margin: 0px;

}
.top1{background-color: white;
margin: 0;
height: 50px;
font-size: 25px;
text-align: center;
padding: 0px 10px 10px;}
.m{
    height: 400px;
    width: 300px;
    background-color: white;
    border: 1px solid white;
    margin-top: 150px;
    margin-left:540px;
    border-radius:5px;
}

.m1{
    margin-top:30px;
    margin-left:100px;
}

.m2{
    margin-left:50px;
}
.m3{
    width:190px; 
    height:30px;
}
.sn{margin-left:32px;}

.btn{height:30px;
     width:70px;
     border: 1px solid white;
     border-radius: 5px;
     margin-top:10px;
     margin-left:70px;}
    
.btn:hover {
    background-color: #c28282;
}
.sn{text-decoration: none;}