
       
       *{
            border-radius: 5px;
            text-align: center;

        }
            .top h2{margin-left: 600px;}
            .top{ font-family:'Times New Roman', Times, serif;
                text-decoration: none;
            height: 5px;
            color: #fff;
            text-align: left;
            font-weight: bold;
            display: flex;
            text-align: center;
            }
            .top2{
            margin-left: 900px;
            }.top2 a{color: rgb(0, 0, 0);
                margin-left: 200px;
                text-decoration: none;}
                .top3 a{color: rgb(0, 0, 0);
                    margin-left: 10px;
                    text-decoration: none;}
        thead{
            min-height: 600px;
            width: 350px;
            flex-direction: column;
            gap: 35px;
            border-radius: 15px;
            background: #2c2929;
           color: aliceblue;

            font-weight: bold;

            font-size: large;

        }  

      